/* LOGIN & SIGN UP*/
.btn, .btn:active, .btn:focus, .btn:hover, a, a:focus {
  outline: none;
}
#mainWell {
  position: relative;
  min-width: 360px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  color: #666;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
}
#mainAlert {
  margin-bottom: 0px;
  border-radius: 0px;
}
#signUpForm {
  *display: none;
}
#loginForm, #signUpForm {
  -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
       -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}
.formSubmit {
  text-shadow: 0px 0px 0px #fff;
  font-weight: bold;
}
.slideLeft {
  position: absolute;

  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);

  opacity: 0;
}
.slideRight {
  position: absolute;

  -webkit-transform: translateX(2000px);
  -moz-transform: translateX(2000px);
  -ms-transform: translateX(2000px);
  -o-transform: translateX(2000px);
  transform: translateX(2000px);
}
.signUpLoginBtnGroup {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 20;
}
#signup-login-contain h2 {
  margin: 0px 0px 25px 0px;
}
.signUpLoginBtnGroup button:first-child {
  border-top-left-radius: 0px;
}
.signUpLoginBtnGroup button:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* manPlanner */
#mainWell .well {
  margin: -20px 0px 4px 0px;
  border-radius: 0px 0px 6px 6px;
  background-color: #fff;
  background-image: none;
  box-shadow: 0px 0px 3px #bbb;
  position: relative;
}
.manPlanWell {
  z-index: 22;
  padding: 10px 0px 50px 0px;
}
.manPlanWell h1 {
  margin: 0px 0px 10px 22px;
}
#siteCheckTable {
  margin-bottom: 0px;
}
#siteCheckButtonGroup {
  position: absolute;
  top: -1px;
  right: -1px;
}
#siteCheckButtonGroup .btn:first-child {
  border-top-left-radius: 0px;
}
#siteCheckButtonGroup .btn:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#mainWell #slideDownWell {
  position: relative;
  z-index: 10;
  margin: -10px 0px 0px 0px;
  opacity: 1;
  padding: 26px 22px 22px 22px;
  background-color: #E2E2E2;
  box-shadow: 0px 0px 0px #fff, inset 0px 0px 3px #999;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
#mainWell #slideDownWell.slideUp {
  margin-top: -88px;
  opacity: 0;
}
div#slideDownWell.well form.form-horizontal div.form-group {
  margin: 0px;
}
#inputURL {
  border-right: 0px solid #fff;
  border-left: 0px solid #fff;
}
#siteCheckTable th, #siteCheckTable td {
  text-align: center;
}
#siteCheckTable th:first-child, #siteCheckTable td:first-child {
 text-align: left;
}
#siteCheckTable th {
  padding-bottom: 4px;
}
#siteCheckTable tr:last-child td:first-child, #siteCheckTable tr:last-child td:last-child {
  border-radius: 0px 0px 6px 6px;
}
#prefixURLBtnGroup a {
  cursor: pointer;
}
#prefixURLBtnGroup button.btn span.caret {
  margin-left: 5px;
}
#noSitesMessage {
  background-color: #ccc;
  border-radius: 7px;
  padding: 10px;
}
#noSitesMessage h4 {
  text-align: center;
}
#lastCheckTime {
  position: absolute;
  top: -1px;
  left: 10px;
  text-align: right;
  background-color: #ddd;
  color: #666;
  border-radius: 0px 0px 10px 10px;
}
#lastCheckTime span {
  position: relative;
  right: -4px;
  margin-left: 2px;
  font-weight: bold;
}
#siteCheckButtonGroup.btn-group div.btn span.glyphicon {
  margin-left: 6px;
}
#siteCheckTrigger td.btnCol {
  padding: 0px 0px 0px 0px;
}
#siteCheckTrigger tr:last-child td.btnCol button {
  border-radius: 0px 0px 5px 0px
}
.btnCol {
  width: 72px;
}
.btnCol button {
  float: right;
  padding: 8px 8px;
  width: 72px;
  border-radius: 0px;
}
#siteCheckTable th.textRight {
  text-align: right;
}
td.statusTd {
  font-weight: bold;
  font-size: 13px;
}
td.statusTd.success {
  color: #468847;
}
td.statusTd.danger {
  color: #b94a48;
}
#siteCheckTrigger td .loadTxt {
  font-size: 12px;
}
#messagesDiv {
  overflow-y: scroll;
  height: 125px;
  padding-top: 4px;
  width: 65%;
}
#chatDiv {
  padding: 20px 5px 5px 5px;
}
.bold {
  font-weight: bold;
}
.mainWellBottomBtnGroup {
  position: absolute;
  bottom: 0px;
  right: -1px;
}
.mainWellBottomBtnGroup .btn:first-child {
  border-bottom-left-radius: 0px;
}
.mainWellBottomBtnGroup .btn:last-child {
  border-top-right-radius: 0px;
}
.toggleChatDisplay .glyphicon {
  margin-left: 8px;
}
div#carousel-events.carousel div.carousel-inner div.item {
  min-height: 225px;
  background-color: #bbb;
}
.slideContainer {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 70%;
  min-height: 85%;
}
.voteContain {
  width: 24px;
  height: 120%;
  position: absolute;
  top: 0px;
  right: 30px;
  background-color: #eee;
  border-radius: 3px;
}
.voteContain .glyphicon, .eventComment {
  cursor: pointer;
  opacity: 0.7;
}
.voteContain:hover .glyphicon, .eventComment:hover {
  opacity: 1;
}
.voteContain .voteCount {
  position: absolute;
  top: 20px;
  left: 7px;
}
.voteContain .upVote {
  position: absolute;
  top: 6px;
  left: 4px;
}
.voteContain .downVote {
  position: absolute;
  top: 39px;
  left: 5px;
}
.voteContain .downVote.hasVote {
  color: blue;
}
.voteContain .upVote.hasVote {
  color: red;
}
.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

#sendChatMessage {
  border-left: 0px;
  border-top-right-radius: 0px;
}
#mainModal .modal-footer {
  padding: 0px;
}
#mainModal .modal-footer button:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#mainModal .modal-footer button:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
#eventIdeas.well {
  z-index: 20;
  margin-bottom: 0px;
  padding-bottom: 35px;
}
#eventIdeas h3 {
  margin: 16px 0px 0px 0px;
}
.toggleOldEventsBtn {
  margin: -5px 0px 0px 10px;
  *float: right;
  padding: 3px 10px;
  color: #888;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  right: 18px;
  top: 20px;
}
#eventIdeaList {
  padding: 0px 0px 0px 0px;
  margin-bottom: 20px;
}
#eventIdeaList div.eventIdeaContain {
  list-style: none;
  border-top: 1px solid #ddd;
  padding: 5px 260px 5px 35px;
  position: relative;
  min-height: 55px;
  height: auto;
  overflow: hidden;
}
#eventIdeaList div.eventIdeaContain:last-child {
  *height: 56px;
  border-bottom: 1px solid #ddd;
}
#eventIdeaList div.eventIdeaContain .title {
  font-size: 15px;
  font-weight: bold;
}
#eventIdeaList div.eventIdeaContain .body {
  display: block;
  margin: 2px 0px 5px 8px;
}
#eventIdeaList .voteContain {
  position: absolute;
  left: 0px;
  top: -2px;
  margin-right: 0px;
}
#eventIdeaList .commentContainer {
  right: 12px;
  top: 12px;
  bottom: auto;
  *border-bottom-right-radius: 0px;
  *border-top-right-radius: 0px;
}
#presenceDiv {
  width: 34%;
  float: left;
  min-height: 160px;
  border-right: 2px solid #bbb;
  margin-right: 4px;
  overflow: hidden;
}
#presenceDiv h5 {
  margin: 0px 0px 6px 0px;
  border-radius: 0px 0px 0px 4px;
  background-color: #ddd;
  padding: 4px 0px 4px 8px;
  font-size: 16px;
}
#presenceDiv div {
  margin-left: 8px;
  color: #777;
}
.commentContainer {
  position: absolute;
  right: 28px;
  bottom: 85px;
  top: auto;
  cursor: pointer;
  background-color: #EEEEEE;
  padding: 7px 20px 4px 9px;
  border-radius: 5px;
}

.commentContainer:hover {
  background-color: #DDD;
}
#eventIdeaList li .voteContain {
  top: -3px;
}
.commentUL {
  padding: 0px;
}
.commentRow {
  list-style: none;
  border-top: 1px solid #ddd;
  padding: 6px 0px 6px 0px;
}
.commentRow:last-child {
  border-bottom: 1px solid #ddd;
}
.commentRow .nickname {
  margin-right: 6px;
}
.commentRow .commentText {
  margin-left: 6px;
}
#addCommentForm {
  margin: 30px 0px -10px 0px;
}
#addCommentForm .form-group {
  margin: 0px;
}
.commentCount {
  position: absolute;
  top: 5px;
  right: 7px;
}
.slideContainer p {
  margin-right: 100px;
}
#eventIdeaList .dateGroup {
  background-color: #ddd;
  width: auto;
  margin: 10px 0px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  padding: 6px 8px 4px;
}
.noEventsHeading {
  text-align: center;
  margin-top: 25px;
}
#mainModal .modal-body .alert {
  margin-bottom: 0px;
}
#carousel-events div.slideContainer .btn-group {
  position: absolute;
  right: 0px;
  top: 0px;
}
#eventIdeaList div.eventIdeaContain .btn-group {
  position: absolute;
  right: 75px;
  top: 12px;
}
.mainWellTopRightBtnGroup {
  position: absolute;
  right: 0px;
  top: 0px;

}
.mainWellTopRightBtnGroup button .glyphicon {
  margin-left: 10px;
}
.mainWellTopRightBtnGroup button:first-child {
  border-top-left-radius: 0px;
}
.mainWellTopRightBtnGroup button:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}