<div class="btn-group signUpLoginBtnGroup pull-right">
  <button type="button" class="btn btn-success btn-lg active" data-action="login">Login</button>
  <button type="button" class="btn btn-primary btn-lg" data-action="signup">Sign-up</button>
</div>
<div class="clearfix"></div>

<div id="signup-login-contain" class="container">

  <form id="loginForm" class="form-horizontal" role="form">
    <h2>Login</h2>
    <div class="form-group">
      <label for="inputEmailLogin" class="col-xs-2 control-label">Email</label>
      <div class="col-xs-10">
        <input type="email" class="form-control email" id="inputEmailLogin" placeholder="Email" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPasswordLogin" class="col-xs-2 control-label">Password</label>
      <div class="col-xs-10">
        <input type="password" class="form-control password" id="inputPasswordLogin" placeholder="Password" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10 pull-right">
        <button type="submit" class="btn btn-default btn-lg btn-primary formSubmit pull-right">Login</button>
      </div>
    </div>
  </form>

  <form id="signUpForm" class="form-horizontal slideLeft" role="form">
    <h2>Sign Up</h2>
    <div class="form-group">
      <label for="inputEmail" class="col-xs-2 control-label">Email</label>
      <div class="col-xs-10">
        <input type="email" class="form-control email" id="inputEmail" placeholder="Email" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNickname" class="col-xs-2 control-label">Nickname</label>
      <div class="col-xs-10">
        <input type="text" class="form-control nickname" id="inputNickname" placeholder="Nickname" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-xs-2 control-label">Password</label>
      <div class="col-xs-10">
        <input type="password" class="form-control password" id="inputPassword" placeholder="Password" autocomplete="off">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10 pull-right">
        <button type="submit" class="btn btn-default btn-lg btn-primary formSubmit pull-right">Sign Up</button>
      </div>
    </div>
  </form>

</div>